services:
  qwen-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: registry.gitlab.com/tuanxx31/qwen-api:latest
  gemini-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: registry.gitlab.com/tuanxx31/gemini-api:latest